name: Lighthouse Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: '10 3 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  update-lighthouse-gist:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Lighthouse Box
        uses: abordage/lighthouse-box@main
        with:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: ${{ secrets.GIST_ID }}
          TEST_URL: https://abordage.dev
          PRINT_SUMMARY: 'true'
          RESULT_BADGE: 'false'
